.todoform {
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
}
h2 {
  text-align: center;
}
button {
  background-color: purple;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
  width: 100px;
}
button:hover {
  opacity: 1;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
input,
select {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid white;
  border-radius: 3px;
  width: 100%;
}
